<section class='mt-5'>
  <section class='row'>
    <nav class='navbar navbar-expand-lg navbar-dark bg-primary col-sm-8 offset-sm-2'>
      <ul class="navbar-nav col-sm-12 text-center">
        <li routerLinkActive="active" class='nav-item col-sm-6'><a
            [routerLink]="['/course/all']" class="nav-link">COURSES</a></li>
        <li routerLinkActive="active" class="nav-item col-sm-6"><a [routerLink]="['/course/add']" class="nav-link">ADD
            COURSE</a></li>
      </ul>
    </nav>
  </section>
  <router-outlet></router-outlet>
</section>
